---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/spree-commerce-test/categories/77782/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Wombat","author_email":"hub@spreecommerce.com","title":"Invalid
        China Order","body":"@@@\nThis order is shipping to China but was invalidly
        sent to PCH\n@@@","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.tender-v1+json; charset=utf-8
      Location:
      - http://api.tenderapp.com/spree-commerce-test/discussions/13828138
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"queue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/queue?queue={queue_id}","author_email":"hub@spreecommerce.com","author_name":"Wombat","via":"api","number":28,"avg_response_time":null,"unqueue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/unqueue?queue={queue_id}","href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138","cached_queue_list":[],"state":"open","last_updated_at":"2014-05-21T13:51:34Z","last_comment_id":null,"category_href":"http://api.tenderapp.com/spree-commerce-test/categories/77782","spawned_from_comment_id":null,"restore_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/restore","watchers_count":0,"title":"Invalid
        China Order","public":false,"created_at":"2014-05-21T13:51:34Z","activity_filter_stamp":{},"unresolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/unresolve","last_user_id":null,"hidden":false,"html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/28","comments_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/comments{?page}","comments":[{"author_email":"hub@spreecommerce.com","author_name":"Wombat","via":"api","user_is_supporter":false,"user_agent":null,"number":1,"assets":[],"referrer":null,"user_ip":null,"created_at":"2014-05-21T13:51:34Z","html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/28","resolution":null,"system_message":false,"formatted_body":"<div><pre>\n<code>This
        order is shipping to China but was invalidly sent to PCH</code>\n</pre></div>","body":"@@@\nThis
        order is shipping to China but was invalidly sent to PCH\n@@@","internal":false}],"redirection_id":null,"private_body":null,"cached_queue_list":[],"acknowledge_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/acknowledge","last_author_name":null,"updated_at":"2014-05-21T13:51:34Z","unresponded":true,"resolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/resolve","unread":false,"change_category_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/change_category?to={category_id}","last_author_email":null,"last_via":"web","company_id":null,"toggle_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828138/toggle","permalink":"invalid-china-order","comments_count":0}'
  recorded_at: Wed, 21 May 2014 13:51:35 GMT
recorded_with: VCR 2.6.0
