---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/spree-commerce-test/categories/77782/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Spree Integrator","author_email":"hub@spreecommerce.com","title":"Invalid
        China Order","body":"This order is shipping to China but was invalidly sent
        to PCH","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.tender-v1+json; charset=utf-8
      Location:
      - http://api.tenderapp.com/spree-commerce-test/discussions/12556242
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"resolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/resolve","href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242","updated_at":"2013-10-21T18:52:27Z","permalink":"invalid-china-order","last_via":"web","last_user_id":null,"change_category_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/change_category?to={category_id}","activity_filter_stamp":{},"toggle_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/toggle","comments":[{"assets":[],"resolution":null,"user_agent":null,"referrer":null,"number":1,"author_name":"Spree
        Integrator","formatted_body":"<div><p>This order is shipping to China but
        was invalidly sent to\nPCH</p></div>","created_at":"2013-10-21T18:52:28Z","user_ip":null,"body":"This
        order is shipping to China but was invalidly sent to PCH","user_is_supporter":false,"html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/20","author_email":"hub@spreecommerce.com","via":"api","system_message":false,"internal":false}],"last_author_name":null,"title":"Invalid
        China Order","queue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/queue?queue={queue_id}","public":false,"number":20,"last_author_email":null,"author_name":"Spree
        Integrator","spawned_from_comment_id":null,"unqueue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/unqueue?queue={queue_id}","state":"open","created_at":"2013-10-21T18:52:27Z","category_href":"http://api.tenderapp.com/spree-commerce-test/categories/77782","unread":false,"private_body":null,"restore_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/restore","watchers_count":0,"last_comment_id":null,"hidden":false,"comments_count":0,"cached_queue_list":[],"unresolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/unresolve","redirection_id":null,"avg_response_time":null,"html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/20","comments_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/comments{?page}","author_email":"hub@spreecommerce.com","via":"api","unresponded":true,"company_id":null,"acknowledge_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12556242/acknowledge","cached_queue_list":[],"last_updated_at":"2013-10-21T18:52:27Z"}'
  recorded_at: Mon, 21 Oct 2013 18:52:29 GMT
recorded_with: VCR 2.6.0
