---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/spree-commerce-test/categories/77782/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Spree Integrator","author_email":"support@spreecommerce.com","title":"Invalid
        China Order","body":"This order is shipping to China but was invalidly sent
        to PCH","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.tender-v1+json; charset=utf-8
      Location:
      - http://api.tenderapp.com/spree-commerce-test/discussions/12555817
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"toggle_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/toggle","comments":[{"user_agent":null,"formatted_body":"<div><p>This
        order is shipping to China but was invalidly sent to\nPCH</p></div>","user_is_supporter":false,"author_name":"Spree
        Integrator","resolution":null,"referrer":null,"body":"This order is shipping
        to China but was invalidly sent to PCH","created_at":"2013-10-21T17:50:04Z","html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/18","author_email":"support@spreecommerce.com","via":"api","user_ip":null,"system_message":false,"assets":[],"number":1,"internal":false}],"last_author_name":null,"queue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/queue?queue={queue_id}","last_comment_id":null,"last_author_email":null,"author_name":"Spree
        Integrator","redirection_id":null,"last_updated_at":"2013-10-21T17:50:04Z","activity_filter_stamp":{},"unqueue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/unqueue?queue={queue_id}","comments_count":0,"category_href":"http://api.tenderapp.com/spree-commerce-test/categories/77782","updated_at":"2013-10-21T17:50:04Z","unresponded":true,"unread":false,"state":"open","restore_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/restore","watchers_count":0,"permalink":"invalid-china-order","last_via":"web","unresolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/unresolve","private_body":null,"created_at":"2013-10-21T17:50:04Z","company_id":null,"html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/18","comments_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/comments{?page}","author_email":"support@spreecommerce.com","cached_queue_list":[],"acknowledge_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/acknowledge","cached_queue_list":[],"via":"api","title":"Invalid
        China Order","spawned_from_comment_id":null,"resolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/resolve","href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817","hidden":false,"avg_response_time":null,"change_category_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12555817/change_category?to={category_id}","public":false,"number":18,"last_user_id":null}'
  recorded_at: Mon, 21 Oct 2013 17:50:06 GMT
recorded_with: VCR 2.6.0
