---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/spree-commerce-test/categories/77782/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Wombat","author_email":"hub@spreecommerce.com","title":"Invalid
        China Order","body":"@@@\nThis order is shipping to China but was invalidly
        sent to PCH\n@@@","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.tender-v1+json; charset=utf-8
      Location:
      - http://api.tenderapp.com/spree-commerce-test/discussions/13828162
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"queue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/queue?queue={queue_id}","author_email":"hub@spreecommerce.com","author_name":"Wombat","updated_at":"2014-05-21T13:55:44Z","title":"Invalid
        China Order","number":32,"last_via":"web","cached_queue_list":[],"public":false,"avg_response_time":null,"unqueue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/unqueue?queue={queue_id}","href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162","cached_queue_list":[],"category_href":"http://api.tenderapp.com/spree-commerce-test/categories/77782","unresponded":true,"created_at":"2014-05-21T13:55:44Z","activity_filter_stamp":{},"restore_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/restore","watchers_count":0,"state":"open","spawned_from_comment_id":null,"permalink":"invalid-china-order","unresolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/unresolve","company_id":null,"html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/32","comments_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/comments{?page}","comments":[{"author_email":"hub@spreecommerce.com","author_name":"Wombat","number":1,"internal":false,"assets":[],"body":"@@@\nThis
        order is shipping to China but was invalidly sent to PCH\n@@@","system_message":false,"resolution":null,"created_at":"2014-05-21T13:55:44Z","html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/32","user_ip":null,"user_agent":null,"referrer":null,"user_is_supporter":false,"via":"api","formatted_body":"<div><pre>\n<code>This
        order is shipping to China but was invalidly sent to PCH</code>\n</pre></div>"}],"last_comment_id":null,"acknowledge_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/acknowledge","last_author_name":null,"unread":false,"last_updated_at":"2014-05-21T13:55:44Z","hidden":false,"resolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/resolve","comments_count":0,"change_category_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/change_category?to={category_id}","last_author_email":null,"via":"api","private_body":null,"toggle_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828162/toggle","redirection_id":null,"last_user_id":null}'
  recorded_at: Wed, 21 May 2014 13:55:45 GMT
recorded_with: VCR 2.6.0
