---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/invaliddomain/categories/77782/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Spree Integrator","author_email":"support@spreecommerce.com","title":"Item
        out of stock","body":"This products requested in this order are not in stock.","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: ' '
  recorded_at: Mon, 21 Oct 2013 17:44:18 GMT
recorded_with: VCR 2.6.0
