---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/spree-commerce-test/categories/77782/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Wombat","author_email":"hub@spreecommerce.com","title":"Invalid
        China Order","body":"@@@\nThis order is shipping to China but was invalidly
        sent to PCH\n@@@","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - invalidkey
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: Invalid email/password for "spree-commerce-test.tenderapp.com"
  recorded_at: Wed, 21 May 2014 13:52:32 GMT
recorded_with: VCR 2.6.0
