---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/spree-commerce-test/categories/ccc/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Wombat","author_email":"hub@spreecommerce.com","title":"Item
        out of stock","body":"@@@\nThis products requested in this order are not in
        stock.\n@@@","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/vnd.tender-v1+json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '[["category_id","can''t be blank"]]'
  recorded_at: Wed, 21 May 2014 13:56:10 GMT
recorded_with: VCR 2.6.0
