---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/spree-commerce-test/categories/77782/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Spree Integrator","author_email":"support@spreecommerce.com","title":"Item
        out of stock","body":"This products requested in this order are not in stock.","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.tender-v1+json; charset=utf-8
      Location:
      - http://api.tenderapp.com/spree-commerce-test/discussions/12554710
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"resolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/resolve","href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710","updated_at":"2013-10-21T14:56:46Z","permalink":"item-out-of-stock","last_via":"web","last_user_id":null,"change_category_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/change_category?to={category_id}","activity_filter_stamp":{},"toggle_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/toggle","comments":[{"assets":[],"resolution":null,"user_agent":null,"referrer":null,"number":1,"author_name":"Spree
        Integrator","formatted_body":"<div><p>This products requested in this order
        are not in stock.</p></div>","created_at":"2013-10-21T14:56:47Z","user_ip":null,"body":"This
        products requested in this order are not in stock.","user_is_supporter":false,"html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/16","author_email":"support@spreecommerce.com","via":"api","system_message":false,"internal":false}],"last_author_name":null,"title":"Item
        out of stock","queue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/queue?queue={queue_id}","public":false,"number":16,"last_author_email":null,"author_name":"Spree
        Integrator","spawned_from_comment_id":null,"unqueue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/unqueue?queue={queue_id}","state":"open","created_at":"2013-10-21T14:56:46Z","category_href":"http://api.tenderapp.com/spree-commerce-test/categories/77782","unread":false,"private_body":null,"restore_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/restore","watchers_count":0,"last_comment_id":null,"hidden":false,"comments_count":0,"cached_queue_list":[],"unresolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/unresolve","redirection_id":null,"avg_response_time":null,"html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/16","comments_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/comments{?page}","author_email":"support@spreecommerce.com","via":"api","unresponded":true,"company_id":null,"acknowledge_href":"http://api.tenderapp.com/spree-commerce-test/discussions/12554710/acknowledge","cached_queue_list":[],"last_updated_at":"2013-10-21T14:56:46Z"}'
  recorded_at: Mon, 21 Oct 2013 14:56:48 GMT
recorded_with: VCR 2.6.0
