---
http_interactions:
- request:
    method: post
    uri: https://api.tenderapp.com/spree-commerce-test/categories/77782/discussions
    body:
      encoding: UTF-8
      string: '{"public":"false","author_name":"Wombat","author_email":"hub@spreecommerce.com","title":"Item
        out of stock","body":"@@@\nThis products requested in this order are not in
        stock.\n@@@","skip_spam":true}'
    headers:
      X-Tender-Auth:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.tender-v1+json; charset=utf-8
      Location:
      - http://api.tenderapp.com/spree-commerce-test/discussions/13828166
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"queue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/queue?queue={queue_id}","author_email":"hub@spreecommerce.com","author_name":"Wombat","company_id":null,"permalink":"item-out-of-stock","comments_count":0,"unqueue_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/unqueue?queue={queue_id}","href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166","cached_queue_list":[],"unread":false,"title":"Item
        out of stock","redirection_id":null,"last_via":"web","category_href":"http://api.tenderapp.com/spree-commerce-test/categories/77782","last_updated_at":"2014-05-21T13:56:09Z","restore_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/restore","watchers_count":0,"updated_at":"2014-05-21T13:56:09Z","number":34,"last_user_id":null,"cached_queue_list":[],"unresolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/unresolve","spawned_from_comment_id":null,"hidden":false,"avg_response_time":null,"html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/34","comments_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/comments{?page}","comments":[{"author_email":"hub@spreecommerce.com","author_name":"Wombat","assets":[],"referrer":null,"body":"@@@\nThis
        products requested in this order are not in stock.\n@@@","user_agent":null,"resolution":null,"internal":false,"user_is_supporter":false,"number":1,"formatted_body":"<div><pre>\n<code>This
        products requested in this order are not in stock.</code>\n</pre></div>","html_href":"https://spree-commerce-test.tenderapp.com/discussions/problems/34","via":"api","created_at":"2014-05-21T13:56:09Z","user_ip":null,"system_message":false}],"via":"api","public":false,"private_body":null,"acknowledge_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/acknowledge","last_author_name":null,"created_at":"2014-05-21T13:56:09Z","resolve_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/resolve","activity_filter_stamp":{},"change_category_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/change_category?to={category_id}","last_author_email":null,"state":"open","toggle_href":"http://api.tenderapp.com/spree-commerce-test/discussions/13828166/toggle","unresponded":true,"last_comment_id":null}'
  recorded_at: Wed, 21 May 2014 13:56:10 GMT
recorded_with: VCR 2.6.0
